<div id="teacher-notes-link" style="display:none">
  <p>
    <a href="https://github.com/{{ site.repository }}/blob/main/_teacher_notes/2025-26/autumn/week-{{ include.week }}-notes.md"
       class="btn btn--warning" target="_blank" rel="noopener">
      👀 Teacher Notes (private)
    </a>
  </p>
</div>
<script>
  (function () {
    var show = /(^|[?&])notes=1([&#]|$)/.test(window.location.search);
    if (show) {
      var el = document.getElementById('teacher-notes-link');
      if (el) el.style.display = 'block';
    }
  })();
</script>
