---
layout: default
---

{% include page__hero.html %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="page__inner-wrap">

      <section class="page__content" itemprop="text">
        {% if page.toc %}
          {% if page.toc_sticky %}{% assign toc_sticky = true %}{% endif %}
          {% include toc.html %}
        {% endif %}

        {{ content }}
      </section>

      {%- comment -%}
      ✂️ Pagination deliberately removed
      (this is the bit that shows "Previous / Next").
      {%- endcomment -%}
    </div>
  </article>
</div>
